body {
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 135%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
}

h5 {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  line-height: 160%;
}

a {
  color: #24a7ff;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 16px;
  line-height: 135%;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  color: #aaa;
  font-size: 13px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #1bc28f;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #333;
}

.button.w--current {
  background-color: #2e80b6;
}

.section {
  position: relative;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: #fff;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #000;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-button:hover {
  opacity: 0.7;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  width: 20px;
  margin-right: 9px;
  opacity: 0.36;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-icon-link:hover {
  opacity: 0.9;
}

.nav-link {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #2d3e4f;
}

.nav-link.w--current {
  color: #333;
}

.grey-rule {
  width: 90px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #c7c7c7;
}

.site-name {
  display: block;
  font-family: Oswald, sans-serif;
  color: #333;
  font-size: 36px;
  line-height: 100%;
  text-decoration: none;
}

.site-description {
  color: #aaa;
  line-height: 145%;
}

.built-with-webflow {
  color: #aaa;
  font-size: 10px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.webflow-link {
  color: #aaa;
  text-decoration: none;
}

.webflow-link:hover {
  color: #333;
}

.post-wrapper {
  width: 60%;
  max-height: 60%;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.blog-image {
  display: block;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.blog-image:hover {
  opacity: 0.8;
}

.blog-image.blog-page {
  height: 300px;
}

.post-content {
  padding: 35px;
}

.post-summary {
  display: inline;
  color: #aaa;
  font-size: 14px;
  line-height: 22px;
}

.post-info {
  display: inline-block;
  margin-right: 8px;
  color: #aaa;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-info.link {
  text-decoration: none;
}

.post-info.link:hover {
  color: #333;
}

.blog-title-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
}

.blog-title-link:hover {
  opacity: 0.8;
}

.body-copy img {
  border-radius: 3px;
}

.body-copy li {
  margin-bottom: 3px;
}

.body-copy blockquote {
  line-height: 145%;
}

.body-copy figure {
  margin-bottom: 20px;
}

.about-image {
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('../images/photo-1433588641602-7c1083c4f0e2-bw.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.success-message {
  padding-top: 49px;
  padding-bottom: 49px;
  border-radius: 3px;
  background-color: #f0f0f0;
  text-align: center;
}

.success-message.white-background {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.success-text {
  margin-bottom: 0px;
  font-size: 17px;
}

.text-field {
  margin-bottom: 15px;
  border-radius: 3px;
}

.text-field.text-area {
  min-height: 110px;
}

.social-link-group {
  margin-bottom: 12px;
}

.read-more-link {
  display: inline;
  margin-left: 8px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 14px;
  line-height: 22%;
  text-decoration: underline;
}

.read-more-link:hover {
  color: #333;
}

.content-wrapper {
  max-width: 1200px;
  margin-left: 400px;
  padding: 50px;
}

.sidebar-wrapper {
  position: fixed;
  width: 400px;
  height: 100%;
  padding: 50px;
  border-right: 1px solid #e2e2e2;
  background-color: #fff;
}

.blog-title {
  font-size: 30px;
  line-height: 37px;
}

.white-bg-heading {
  margin-bottom: 40px;
  padding: 11px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.post-info-wrapper {
  margin-top: 16px;
}

.body {
  background-color: #fff;
  font-family: 'Segoe ui', sans-serif;
  color: #707070;
  font-size: 17px;
  line-height: 26px;
}

.cm-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.cm-navbar {
  border-bottom: 1px solid transparent;
  background-color: #fff;
}

.cm-nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  height: 80px;
  max-width: 96%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cm-brand {
  z-index: 100;
  float: none;
  font-family: 'Segoe ui', sans-serif;
  color: #707070;
  font-size: 25px;
  font-weight: 700;
  white-space: nowrap;
}

.cm-nav-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 100vh;
  float: none;
  background-color: transparent;
}

.cm-menu-button {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #1bc28f;
  font-size: 16px;
}

.cm-menu-button.w--open {
  background-color: transparent;
  color: #707070;
}

.cm-navlink {
  margin-right: 5px;
  margin-left: 5px;
  padding: 6px 20px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #1bc28f;
  font-size: 16px;
  line-height: 22px;
}

.cm-navlink:hover {
  color: #707070;
}

.cm-button {
  padding: 10px 20px;
  background-color: #1bc28f;
  -webkit-transition: background-color 300ms ease, -webkit-transform 300ms ease;
  transition: background-color 300ms ease, -webkit-transform 300ms ease;
  transition: background-color 300ms ease, transform 300ms ease;
  transition: background-color 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
  font-size: 16px;
}

.cm-button:hover {
  background-color: #707070;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.cm-button.submit {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
}

.cm-fc-yellow {
  color: #e3e339;
}

.cm-homehero-section {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 18px;
  line-height: 28px;
}

.cm-container {
  width: 1180px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.cm-container.midium-container {
  width: 1260px;
}

.cm-container.small-container {
  width: 760px;
}

.cm-homehero-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cm-homehero-left {
  width: 43%;
}

.cm-h4-subtext {
  margin-bottom: 0px;
  color: #1bc28f;
  font-size: 15px;
  text-transform: uppercase;
}

.cm-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 66px;
  line-height: 60px;
  font-weight: 700;
}

.cm-h1.fw-normal {
  font-weight: 700;
}

.paragraph {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 115%;
}

.cm-homehero-right {
  position: relative;
  width: 50%;
}

.cm-homehero-photo {
  position: relative;
  width: 80%;
  margin-left: 5%;
}

.cm-homehero-photo-img {
  position: relative;
  z-index: 10;
}

.cm-homehero-photo-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: #1bc28f;
  -webkit-transform: translate(-30px, 30px);
  -ms-transform: translate(-30px, 30px);
  transform: translate(-30px, 30px);
}

.cm-homehero-right-quotes {
  position: absolute;
  left: auto;
  top: 30px;
  right: 0%;
  bottom: auto;
  z-index: 30;
}

.cm-homehero-right-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin-bottom: 8px;
  padding: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 55.3%, 0.45);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.16);
  font-size: 11px;
  line-height: 11px;
}

.cm-homehero-right-box-left {
  width: 25px;
}

.cm-homehero-right-box-left.v2 {
  width: 40px;
}

.cm-homehero-right-box-avatar {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.cm-homehero-right-box-right {
  padding-left: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cm-homehero-right-box-name {
  font-size: 12px;
  font-weight: 700;
}

.cm-homehero-right-box-avatar-inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.cm-awards-section {
  padding-top: 70px;
  padding-right: 0px;
  padding-bottom: 70px;
}

.cm-awards-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cm-awards-item {
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.cm-awards-item-img {
  width: 65%;
}

.cm-cta-mid {
  height: 325px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1bc28f;
  color: #00ffb1;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.italic-bold {
  font-style: italic;
  font-weight: 700;
}

.italic-bold.cm-fc-yellow {
  color: #fee316;
}

.cm-section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.cm-section.no-toppad {
  padding-top: 90px;
  background-color: transparent;
}

.cm-section.bg-sea-green {
  background-color: #1bc28f;
  color: #fff;
}

.cm-section.overlap-to-hero {
  position: relative;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-transform: translate(0px, -70px);
  -ms-transform: translate(0px, -70px);
  transform: translate(0px, -70px);
}

.cm-section.bg-yellow {
  height: 900px;
  max-height: 90%;
  background-color: #fee316;
}

.cm-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cm-flex-col {
  width: 46%;
}

.cm-flex-col.with-photo {
  text-align: center;
}

.cm-tag {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 20px;
  background-color: #1bc28f;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.cm-h2 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
}

.cm-h2.fw-normal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Segoe ui', sans-serif;
  font-weight: 700;
}

.fw-normal {
  font-weight: 400;
}

.cm-form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cm-form-col {
  width: 49%;
  padding-bottom: 20px;
}

.cm-form-col.fuull-width {
  width: 1005%;
}

.cm-field {
  height: 46px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  border-radius: 3px;
}

.cm-note {
  color: #1bc28f;
  font-size: 15px;
  line-height: 22px;
}

.cm-impact-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.16);
}

.cm-impact-left {
  width: 50%;
  background-image: url('../images/74444816_460395131235853_7722100294808502272_n.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.cm-impact-right {
  position: relative;
  padding: 40px 40px 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 19px;
  line-height: 29px;
}

.cm-impact-right-cta {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
}

.fs-underline {
  text-decoration: underline;
}

.cm-impact-cta {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
}

.acenter {
  text-align: center;
}

.cm-h2.fw-normal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 70px;
}

.cm-results-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cm-results-item {
  width: 28%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
}

.cm-results-list-name {
  color: #fee316;
  font-size: 56px;
  line-height: 46px;
  font-weight: 700;
}

.hide {
  display: none;
}

.cm-nav-topright {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cm-nav-menu-inner {
  position: absolute;
  left: 0%;
  top: 81px;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.cm-nav-menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1250px;
  max-width: 92%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.cm-nav-menu-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 29%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cm-nav-menu-subtitle {
  margin-bottom: 10px;
  color: #1bc28f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cm-nav-menu-navlinks {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #707070;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #707070;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
}

.cm-nav-menu-navlinks:hover {
  color: #1bc28f;
}

.cm-mainwrap {
  position: relative;
}

.cm-cshero-section {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 350px;
  background-image: url('../images/cs-hero2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cm-gray-box {
  padding: 50px;
  border: 1px solid #c1bcbc;
  background-color: #f8f8f8;
  box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.16);
}

.cm-gray-box.maincontent-cs {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.cm-h3 {
  font-size: 34px;
  line-height: 40px;
}

.cm-cs-section-titleblock {
  width: 760px;
  max-width: 100%;
}

.cm-hl-title {
  width: 80%;
  height: 1px;
  margin: 35px auto;
  background-color: #c1bcbc;
}

.cm-boxes-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cm-boxes-items {
  width: 28%;
  padding: 40px 25px;
  border: 1px none #c1bcbc;
  background-color: #1bc28f;
  box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.16);
  font-size: 18px;
  text-align: center;
}

.cm-boxes-numbers {
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}

.cm-photo-holder {
  width: 100%;
  text-align: center;
}

.image {
  margin-bottom: 25px;
}

.cm-cs-richtext h2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
}

.cm-cs-richtext h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.cm-cs-richtext figure {
  margin-bottom: 25px;
}

.cm-cs-richtext h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
}

.cm-cs-richtext p {
  margin-bottom: 25px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.accordion-wrapper {
  margin-top: 50px;
}

.icon.accordion-icon {
  background-image: url('../images/arrow.svg');
  background-position: 50% 50%;
  background-size: cover;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  line-height: 30px;
  cursor: pointer;
}

.icon.accordion-icon {
  background-image: url('../images/flecha-hacia-arriba.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-x;
  color: transparent;
  font-size: 32px;
  line-height: 30px;
  cursor: pointer;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-wrapper-2 {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-wrapper-2.slim {
  max-width: 940px;
}

.content-wrapper-2.slim {
  max-width: 940px;
  padding-right: 10px;
  padding-left: 10px;
}

.header-center-box {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.header-center-box._75 {
  width: 75%;
}

.accordion-item {
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}

.accordion-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #efe11e;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.accordion-item-content {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 30px;
}

.section-faq {
  padding: 150px 30px;
  background-color: #f8f8f8;
}

.image-2 {
  max-width: 100%;
}

.text-block {
  margin-top: 6px;
  line-height: 12px;
}

.div-block {
  border-style: solid;
  border-width: 1px;
  border-color: #77776d;
}

.div-block-2 {
  border: 1px solid #000;
}

.collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 55px;
  line-height: 58px;
  font-weight: 700;
}

.text-block-3 {
  margin-top: 5px;
}

.text-block-4 {
  margin-top: 5px;
}

.text-block-5 {
  margin-top: 5px;
}

.image-3 {
  margin-top: 27px;
}

.underline {
  display: block;
  width: 25%;
  height: 1px;
  max-width: 144px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
  background-color: #5d7a7c;
}

.accordion-item-2 {
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  border-radius: 10px;
  background-color: #1bc28f;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}

.subtitle-box {
  display: block;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-bottom: 10px;
  color: #5d7a7c;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0px;
}

.center-box {
  display: block;
  margin: 80px auto 45px;
  text-align: center;
}

.subtitule {
  color: #647078;
  font-size: 17px;
  line-height: 25px;
}

.bold-text {
  color: #fee316;
}

.bold-text-2 {
  color: #fce317;
}

.bold-text-3 {
  color: #fae318;
}

.paragraph-2 {
  color: #707070;
}

.image-4 {
  max-width: 164%;
  margin-left: -139px;
}

.accordion-item-3 {
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  border-radius: 10px;
  background-color: #acd8d9;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}

.accordion-heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 30px;
  cursor: pointer;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button {
  background-color: #1bc28f;
}

.text-block-7 {
  color: #e3e339;
  font-size: 21px;
  font-weight: 700;
}

.text-block-8 {
  color: #e3e339;
  font-size: 21px;
  font-weight: 700;
}

.text-block-9 {
  color: #e3e339;
  font-size: 21px;
  font-weight: 700;
}

.image-5 {
  margin-top: -68px;
  padding-left: 209px;
}

.block-quote {
  font-weight: 700;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000003, 0.6000000000000003);
  -ms-transform: scale(0.6000000000000003, 0.6000000000000003);
  transform: scale(0.6000000000000003, 0.6000000000000003);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media screen and (max-width: 991px) {
  .post-wrapper {
    margin-bottom: 35px;
  }
  .blog-image {
    height: 190px;
  }
  .about-image {
    height: 250px;
  }
  .content-wrapper {
    margin-left: 300px;
    padding: 30px;
  }
  .sidebar-wrapper {
    width: 300px;
    padding: 30px;
  }
  .white-bg-heading {
    margin-bottom: 20px;
  }
  .cm-nav-menu {
    padding: 15px;
  }
  .cm-menu-button {
    padding: 9px;
  }
  .cm-menu-button.w--open {
    background-color: transparent;
    color: #707070;
  }
  .cm-navlink {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
  .cm-navlink:hover {
    color: #edeff2;
  }
  .cm-button.topright-header {
    display: none;
  }
  .cm-homehero-section {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .cm-homehero-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cm-homehero-left {
    width: 100%;
    padding-bottom: 60px;
    text-align: center;
  }
  .cm-homehero-right {
    width: 100%;
  }
  .cm-flex-col {
    width: 100%;
  }
  .cm-impact-box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cm-nav-menu-cols {
    width: 30%;
  }
  .cm-nav-menu-navlinks {
    font-size: 18px;
  }
  .cm-gray-box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cm-boxes-list {
    padding-right: 0px;
    padding-left: 0px;
  }
  .cm-boxes-items {
    width: 31%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .subtitle-box {
    width: 64%;
  }
  .image-4 {
    margin-left: -199px;
  }
}

@media screen and (max-width: 767px) {
  .social-icon-link {
    margin-right: 8px;
    margin-left: 8px;
  }
  .nav-link {
    display: inline-block;
    margin: 0px 10px;
  }
  .grey-rule {
    display: block;
    margin: 21px auto;
  }
  .site-name.w--current {
    margin-bottom: 15px;
  }
  .site-description {
    margin-bottom: 15px;
  }
  .built-with-webflow {
    margin-bottom: 0px;
  }
  .post-wrapper {
    width: 80%;
    margin-bottom: 30px;
  }
  .post-content {
    padding: 20px;
  }
  .about-image {
    height: 250px;
  }
  .social-link-group {
    margin-bottom: 0px;
  }
  .button-wrapper {
    text-align: center;
  }
  .content-wrapper {
    width: 100%;
    margin-left: 0px;
  }
  .sidebar-wrapper {
    position: static;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    border-right-style: none;
    text-align: center;
  }
  .blog-title {
    font-size: 27px;
    line-height: 36px;
  }
  .navigation {
    margin-bottom: 15px;
  }
  .cm-nav-container {
    height: 70px;
  }
  .cm-brand {
    padding-left: 0px;
  }
  .cm-homehero-section {
    padding-bottom: 90px;
    font-size: 17px;
    line-height: 26px;
  }
  .cm-h4-subtext {
    font-size: 14px;
    line-height: 20px;
  }
  .cm-h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .cm-awards-section {
    padding-bottom: 60px;
  }
  .cm-awards-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cm-awards-item {
    width: 33%;
  }
  .cm-cta-mid {
    height: 235px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
    line-height: 32px;
  }
  .cm-h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .cm-impact-left {
    width: 100%;
    padding-bottom: 66%;
  }
  .cm-impact-right {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .cm-results-item {
    width: 100%;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
  }
  .cm-results-item.last {
    padding-bottom: 0px;
  }
  .cm-nav-menu-inner {
    top: 71px;
  }
  .cm-nav-menu-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cm-nav-menu-cols {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .cm-nav-menu-subtitle {
    margin-bottom: 5px;
  }
  .cm-cshero-section {
    height: 250px;
  }
  .cm-gray-box {
    padding-right: 30px;
    padding-left: 30px;
  }
  .cm-boxes-items {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cm-cs-richtext h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .cm-cs-richtext h3 {
    font-size: 23px;
    line-height: 29px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .accordion-item-content {
    margin-right: 0px;
  }
  .text-block-2 {
    padding-top: 0px;
    font-size: 31px;
    line-height: 39px;
  }
  .subtitle-box {
    width: 78%;
  }
  .image-4 {
    margin-left: -140px;
  }
  .contact-form {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .post-wrapper {
    width: 80%;
    margin-bottom: 20px;
  }
  .blog-image {
    height: 190px;
  }
  .content-wrapper {
    padding: 20px;
  }
  .sidebar-wrapper {
    padding: 20px;
  }
  .blog-title {
    font-size: 26px;
    line-height: 32px;
  }
  .cm-homehero-photo-bg {
    -webkit-transform: translate(-20px, 20px);
    -ms-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
  }
  .cm-homehero-right-quotes {
    top: 10px;
  }
  .cm-homehero-right-box {
    margin-bottom: 0px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  .cm-awards-section {
    padding-top: 40px;
  }
  .cm-awards-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .cm-awards-item-img {
    width: 85%;
  }
  .cm-cta-mid {
    height: 266px;
    margin-bottom: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .cm-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .cm-impact-right {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .cm-impact-cta {
    position: static;
    width: 100%;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .cm-nav-menu-inner {
    overflow: auto;
  }
  .cm-gray-box {
    padding: 30px 25px;
  }
  .cm-cs-richtext h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .header-center-box._75 {
    width: 90%;
  }
  .section-faq {
    padding: 100px 15px;
  }
  .text-block-2 {
    font-size: 30px;
    line-height: 33px;
  }
  .image-3 {
    display: block;
    max-width: 62%;
    margin-top: 18px;
    margin-left: -12px;
    padding-left: 0px;
  }
  .text-block-6 {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .subtitle-box {
    width: 100%;
  }
  .subtitule {
    font-weight: 500;
  }
  .image-4 {
    max-width: 156%;
    margin-left: -70px;
  }
}

#w-node-11392b0f0836-70c7c17c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-11392b0f0826-70c7c17c {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-11392b0f082a-70c7c17c {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-11392b0f082e-70c7c17c {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-11392b0f0832-70c7c17c {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Segoe ui';
  src: url('../fonts/Segoe-UI-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Segoe ui';
  src: url('../fonts/Segoe-UI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe ui';
  src: url('../fonts/Segoe-UI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe ui';
  src: url('../fonts/Segoe-UI-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}